.header-container{
    background-color: #3F3B47;
    color: #fff;
    height: 80px;
    padding: 0 40px;
}

.header-container h1{
    cursor: pointer;
    margin: 0;
    font-size: 24px;
}

.mat-toolbar-single-row {
    justify-content: space-between;
}

.active {
    background-color: #ECECEC;
    color: #3F3B47 !important;
}