.product-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 100px;
}

.full-width {
  width: 100%;
  min-width: 400px;
}

.submit-btn {
  max-width: 200px;
  color: #8a2be2;
  margin: auto;
  margin-top: 30px;
}