.container-card {
  width: 350px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-details{
  width: 80%;
  font-size: 16px;
}

.product-details p span{
  font-weight: 500;
}

.btn_product-card{
  display: flex;
  gap: 8px;
}

.outOfStock{
  color: red;
}

.mat-mdc-card-header{
  flex-direction: column;
  align-items: center;
}

.mat-mdc-card-header span{
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}