<mat-card class="container-card" *ngIf="product">
  <mat-card-header [inventoryDirective]="product.quantity">
    <mat-card-title>{{ product.title | titlecase }}</mat-card-title>
    <span *ngIf="product.quantity < 3 && product.quantity > 0">Pouco Estoque</span>
    <span *ngIf="product.quantity == 0">Sem Estoque</span>
  </mat-card-header>
  <img mat-card-image src="{{ product.image }}" height="165px" width="250px" alt="Foto de {{ product.title}}">
  <mat-card-content class="product-details" [inventoryDirective]="product.quantity">
    <p *ngIf="product.description">
      {{ product.description }}
    </p>
    <p>
      <span>Valor:</span> {{product.price | currency:'BRL':'symbol':'1.2-2':'pt'}}
    </p>
    <p>
      <span>Em estoque: </span>{{product.quantity }}
    </p>
  </mat-card-content>
  <mat-card-actions class="btn_product-card">
    <button mat-raised-button color="primary" (click)="openDialog()">Atualizar</button>
    <button mat-raised-button color="accent" (click)="openDialogDelete()">Remover</button>

    <ng-template #dialogTemplateUpdate>
      <app-dialog>
        <app-product-form requestType="update" [newProduct]="product" ></app-product-form>
      </app-dialog>
    </ng-template>

    <ng-template #dialogTemplateDelete>
      <app-dialog>
        <app-product-delete [idProduct]="product.id"></app-product-delete>
      </app-dialog>
    </ng-template>

  </mat-card-actions>
</mat-card>