<mat-card class="container-card" *ngIf="product" [productDirective]="product.status">
  <mat-card-header [ngClass]="{ hasItems: product.quantity == 0 }">
    <div mat-card-avatar></div>
    <mat-card-title>{{ product.title | titlecase }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ product.image }}" height="165px" width="250px" alt="Foto de {{ product.title}}">
  <mat-card-content class="product-details" [ngClass]="{ hasItems: product.quantity == 0 }">
    <p *ngIf="product.description">
      {{ product.description }}
    </p>
    <span>Valor: {{product.price | currency:'BRL':'symbol':'1.2-2':'pt'}}</span>
    <p>Em estoque: {{product.quantity }}</p>

   <!--  <div>
      <mat-checkbox  [checked]="product.status" (change)="changeStatus()">
          Fora de Estoque
      </mat-checkbox>
    </div> -->

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openDialog()">Atualizar</button>
    <button mat-raised-button color="warn" (click)="deleteItem()">Remover</button>

    <ng-template #dialogTemplate>
      <app-dialog>
        <app-product-form requestType="update" [newProduct]="product" ></app-product-form>
      </app-dialog>
    </ng-template>

  </mat-card-actions>
</mat-card>